@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --font-sans: var(--font-geist);
}

html,
body {
  height: 100%;
}

body {
  background: #0f172a;
  color: #fff;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}
